body{
	background: lightblue;
}
.first{
	position: absolute;
	top:20px;
	left:60px;
	border-radius: 100%;
}
.search{
	position: absolute;
	top:60px;
	right:10px;
}
.second{
	position: absolute;
	top:25%;
	left:20%;
}
.page1{
	position: absolute;
	heigh:800px;
	width:1000px;
	top:37%;
	
}
.page2{
	position: absolute;
	width:400px;
	top:37%;
	right:25%;
}
.page3{
	position: absolute;
	width:450px;
	top:37%;
	right:0%;
}
.page4{
	position: absolute;
	width:400px;
	top:65%;
	right:25%;
}
.page5{
	position: absolute;
	height:350px;
	width:450px;
	top:65%;
	right:0%;
}
